body
{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2
{
    text-align: center;
    color: darkblue;
}

form
{
    width: 350px;
    margin: auto;
    padding: 19px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
}

input,
select
{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

input[type="submit"]
{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover
{
    background-color: darkgreen;
}
